body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    align-items: center; }

.contenedor {
    border: 2px solid black;
    width: 1000px;
    height: 500px;
    display: flex;
}

.contiene-info {    border: 2px solid black;
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: 90%;
}

.descripcion {align-self: stretch;

}

.imagen {
    background-color: aquamarine;
    width: 250px;
    height: 250px;
}